<html>
  <head>  
    <title>AngularJS $http Example</title>  
    <style>
      .username.ng-valid {
          background-color: lightgreen;
      }
      .username.ng-dirty.ng-invalid-required {
          background-color: red;
      }
      .username.ng-dirty.ng-invalid-minlength {
          background-color: yellow;
      }
 
      .email.ng-valid {
          background-color: lightgreen;
      }
      .email.ng-dirty.ng-invalid-required {
          background-color: red;
      }
      .email.ng-dirty.ng-invalid-email {
          background-color: yellow;
      }
 
    </style>
    
  </head>
  <body class="ng-cloak">
      <div class="generic-container" ng-controller="BlogController as ctrl">
          <div class="panel panel-default">
              <div class="panel-heading"><span class="lead">Blog Creation Form </span></div>
              <div class="formcontainer">
                  <form ng-submit="ctrl.submit()" name="blogForm" class="form-horizontal">
                      <input type="hidden" ng-model="ctrl.blog.blogId" />
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="bname">Blog Name</label>
                              <div class="col-md-7">
                                  <input type="text" ng-model="ctrl.blog.blogName" id="bname" class="username form-control input-sm" placeholder="Enter blog name" required ng-minlength="3"/>
                                  <div class="has-error" ng-show="blogForm.$dirty">
                                      <span ng-show="blogForm.bname.$error.required">This is a required field</span>
                                      <span ng-show="blogForm.bname.$error.minlength">Minimum length required is 3</span>
                                      <span ng-show="blogForm.bname.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                         
                       
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="address">Blog Content</label>
                              <div class="col-md-7">
                                  <input type="text" ng-model="ctrl.blog.blogContent" id="address" class="form-control input-sm" placeholder="Enter your Content. [This field is validation free]"/>
                              </div>
                          </div>
                      </div>
 
                     <!--  <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="email">Email</label>
                              <div class="col-md-7">
                                  <input type="email" ng-model="ctrl.user.email" id="email" class="email form-control input-sm" placeholder="Enter your Email" required/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.email.$error.required">This is a required field</span>
                                      <span ng-show="myForm.email.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div> -->
 
                      <div class="row">
                          <div class="form-actions floatRight">
                              <input type="submit"  value="{{!ctrl.blog.blogId ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm" ng-disabled="blogForm.$invalid">
                              <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" ng-disabled="blogForm.$pristine">Reset Form</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          <div class="panel panel-default">
                Default panel contents
              <div class="panel-heading"><span class="lead">List of Blogs </span></div>
              <div class="tablecontainer">
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th>ID.</th>
                              <th>Blog Name</th>
                              <th>Blog Content</th>
                              <th width="20%"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="row in ctrl.blogs">
                              <td><span ng-bind="row.blogId"></span></td>
                              <td><span ng-bind="row.blogName"></span></td>
                              <td><span ng-bind="row.blogContent"></span></td>
                              <td>
                              <button type="button" ng-click="ctrl.edit(row.blogId)" class="btn btn-success custom-width">Edit</button>  <button type="button" ng-click="ctrl.remove(row.blogId)" class="btn btn-danger custom-width">Remove</button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
       
     
  </body>
</html>