<div class="container pushfooter text-center">
<a href="" class="btn btn-md cartbutton tenpxtop journey" style="width:150px; height:150px; border-radius:150px; line-height: 6; border:2px solid #263238; font-size:20px">Register</a>
<a href="home"><img class="animated infinite bounce tenpxtop" alt="Logo" src="resources/images/logo.png" width="300" height="300"></a>
<a href="" class="btn btn-md cartbutton tenpxtop journey" style="width:150px; height:150px; border-radius:150px; line-height: 6; border:2px solid #263238; font-size:20px">Log In</a>
<h2 class="text-center journey">MiniChat</h2>
<h4 class="text-center journey">Your Journey Starts Here</h4>


</div>
<script>


(function blink() { 
	  $('.blink_me').fadeOut(500).fadeIn(500, blink); 
	})();
</script>